body {
    margin: 0;
    background-color: lightblue;
}

.header, .footer {
    color: white;
    background-color: black;
    text-align: center;
    padding: 8px;
}

.header {
    margin-top: 0;
}

#result-synthesis {
    margin-left: 50px;
}

#shortlisted-candidates {
    margin-left: 10px;
}

.hidden-dom {
    display: none;
}

.panel {
    margin-left: 10%;
    overflow: auto;
}

.dashboard {
    margin-bottom: 20px;
}

.candidate-list-col {
    width: 30%;
    float: left;
}

.candidate-details-col {
    width: 30%;
    float: left;
}

#candidate-list {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
}

.candidate {
    background-color: white;
    width: 90%;
    border: 2px lightgray solid;
    padding: 10px;
    margin-bottom: 10px;
}

.candidate.selected {
    border-color: black;
}

.candidate .name {
    margin-bottom: 5px;
    color: blue;
}

.candidate .job-details {
    margin-left: 10px;
}

#candidate-details {
    padding: 5px;
    background-color: white;
    width: 100%;
}

#candidate-details .job-panel {
    overflow: auto;
}

#candidate-details .job-panel .job-details {
    float: left;
    width: 49.9%;
}

#candidate-details .job-panel .shortlist-panel {
    float: left;
    width: 49.9%;
    text-align: center;
}

#remove-from-shortlist-cmd {
    background-color: red;
    color: white;
}
